@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,823;1,823&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body{
    display: block;
    background-color: #FFFFFF;
    color: #000000;
}

footer{
    background-color: #ffffff;
    padding-left: 240px;
}

.footerContainer{
    width: 100%;
    padding: 30px 30px 20px;
}

.socialIcones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.socialIcones a{
    text-decoration: none;
    padding: 10px;
    background-color: #B5C5BA;
    margin: 10px;
    border-radius: 50%;
}

.socialIcones a i{
    font-size: 2em;
    color: #ffffff;
    opacity: 0.9;
}

.socialIcones a:hover{
    background-color: #000000;
    transition: 0.5s;
}

.socialIcones a:hover i{
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 15px;
}

.footerNav ul li a{
    color: #828f86;
    margin: 20px;
    text-decoration: none;
    font-size: 1.1em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: #B5C5BA;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
}

.footerBottom p{
    color: #ffffff;
    text-align: center;
}

.footerBottom a{
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.footerBottom a:hover{
    opacity: 1;
}

.developer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media screen and (width < 1000px){
    .footerNav ul{
        flex-direction: column;
    }

    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    footer{
        background-color: #ffffff;
        padding-left: 60px;
    }
}

.border{
    border: 1px solid red;
}

.border1{
    border: 1px solid rgb(43, 255, 0);
}

.sidebar{
    background-color: #B5C5BA;
    box-shadow: inset -10px 0 5px -5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    transition: all 0.4s;
}

.sidebar-header{
    width: 100%;
    margin-bottom: 16px;
}

.sidebar-logo{
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.4s;
    margin-left: 30px;
}

.sidebar-logo:hover{
    transform: scale(1.1);
}

.sidebar button{
    height: 50px;
    background: transparent;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.sidebar button > span{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    height: 48px;
    padding: 0 16px 0 12px;
    border-radius: 24px;
    line-height: 1;
    transition: all 0.3s;
}

.sidebar button:hover > span{
    background: rgb(104, 116, 108);
}

.sidebar button i{
    position: relative;
    font-size: 28px;
    transition: 0.2s;
}

.sidebar button span{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}

.sidebar button span a{
    color: #FFFFFF;
    text-decoration: none;
}

.sidebar > nav{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container{
    margin-left: 250px;
    margin-right: 6px;
    overflow: hidden;
}

/* AJUSTANDO SIDEBAR COM APENAS ICONES */
@media screen and (width < 1000px){
    .sidebar{
        width: 72px;
    }

    .sidebar-logo{
        width: 50px;
        margin-left: 0px;
    }

    .sidebar button > span{
        width: 50px;
    }

    .sidebar button > span > span{
        opacity: 0;
        visibility: hidden;
    }

    .container{
        transition: all 0.4s;
        margin-left: 72px;
    }
}

.button-mobile{
    display: none;
    align-self: flex-start;
    align-items: center;
    margin: 16px;
    background: transparent;
    color: #B5C5BA;
    border: 0;
}

.button-mobile span{
    font-size: 24px;
    margin-left: 8px;
}

.button-close span i{
    font-size: 42px;
}

.menu-mobile{
    display: none;
}

.menu-mobile-active{
    width: 100vw;
    height: 100vh;
    background-color: #B5C5BA;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.menu-mobile-active button{
    background: transparent;
    border: 0;
    color: inherit;
    margin-bottom: 16px;
}

.menu-mobile-active button > span{
    display: inline-flex;
    align-items: center;
}

.mobile-text{
    font-size: 22px;
    margin-left: 8px;
}

@media (max-width: 480px){
    .sidebar{
        display: none;
    }

    .button-mobile{
        display: flex;
    }

    .main{
        margin-left: 6px;
    }
}

.main{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
}

.container{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.div-logo{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: #ffffff   ;
    top: 0px;
    position: sticky;
}

.logoEsc{
    width: 250px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}

.container-prod{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.prod{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 100px;
    margin-top: 10px;
}

.prod h1{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #000000;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container-produtos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card{
    width: 18%;
    height: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.4s;
    background: #ffffff;
}

.card:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateZ(0px, -8px);
}

.card img{
    width: 80%;
    height: 25%;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
}

.card h3{
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.card p{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #92999c;
    padding-top: 0 8px;
}

.card h6{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: #505852;
    margin: 0;
    margin-top: 10px;
}

.card ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}

.card li{
    padding: 5px;
}

.fa{
    font-size: 20px;
    transition: 0.4s;

}

.checked{
    color: #ff9f43;
}

.fa:hover{
    transform: scale(1.3);
    transition: 0.6s;
}

button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.comprar{
    background-color: #B5C5BA;
}

@media screen and (max-width: 1545px){
    .prod{
        align-items: center;
    }

    .card{
        width: 45%;
    }	
}

@media screen and (max-width: 1165px){
    .prod{
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 30px;
    }

    .card{
        width: 45%;
    }	
}

@media screen and (max-width: 750px){
    .prod{
        align-items: center;
        justify-content: center;
    }

    .card{
        width: 100%;
    }

}

.container-client{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.clientes{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 100px;
    margin-top: 10px;
}

.clientes h1{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #000000;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container-clientes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}

.card-clientes{
    width: 25%;
    height: 40%;
    margin: 30px 0;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.4s;
    background: #ffffff;
}

.card-clientes:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateZ(0px, -8px);
}

.card-clientes img{
    width: 80%;
    height: 25%;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
}

.card-clientes h3{
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.card-clientes ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}

.card-clientes li{
    padding: 5px;
}

.container-ent{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.entrega{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 100px;
    margin-top: 10px;
}

.entrega h1{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #000000;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container-entrega{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}

.card-entrega{
    width: 70vw;
    height: 470px;
    margin: 30px 0;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.4s;
    background: #B5C5BA;
}

.card-entrega iframe{
    border-radius: 12px;
    width: 98%;
    height: 98%;
}

.texto-entrega p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    padding-bottom: 50px;
}